.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 40px;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__label {
  color: #535e56;
  font-size: 22px;
}

.input__text {
  padding: 5px;
  border: 1px solid #5c605c;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(165,181,157,1) 1%, rgba(103,110,96,1) 100%);
  box-shadow: 14px 13px 10px 0 rgba(116,125,120,0.77);
  color: cornsilk;
  font-size: 18px;
  &::placeholder {
    color: cornsilk;
  }
  &:focus {
    outline: none;
    border: 1px solid #adbeb4;
    background: #535e56;
  }
}

.form_btn {
  padding: 5px;
  border: 1px solid #dbe0cb;
  border-radius: 5px;
  background: #dbe0cb;
  box-shadow: 14px 13px 10px 0 rgba(116,125,120,0.77);
  color: #5c605c;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, rgba(165,181,157,1) 1%, rgba(103,110,96,1) 100%);
    color:  cornsilk;
    border: 1px solid #adbeb4;
  }
}
