.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin: 40px auto;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__label {
  color: #0d6c6c;
  text-shadow: 2px -2px 7px rgba(190, 202, 204, 0.99),
  12px 7px 11px rgba(30, 64, 70, 0.57);
  font-size: 26px;
}

.input__text {
  padding: 5px;
  border: 1px solid #e1c512;
  border-radius: 5px;
  background: linear-gradient(0deg, rgb(243, 239, 222) 1%, rgb(236, 230, 125) 100%);
  box-shadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
  color: #0d6c6c;
  font-size: 18px;
  &::placeholder {
    color: #0d6c6c;
  }
  &:focus {
    outline: none;
    border: 1px solid #faf8ea;
    background: #f5e8ab;
    color: #2c4859;
  }
}

.form_btn {
  padding: 5px;
  border: 1px solid #faf8ea;
  border-radius: 5px;
  background: #f5e8ab;
  box-shadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
  color: #2c4e59;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, rgb(243, 239, 222) 1%, rgb(236, 230, 125) 100%);
    color: #0d6c6c;
    border: 1px solid #e1c512;
  }
}
