* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/paperNote.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 100px 20px;
  background-image: url("../assets/stickyNote.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__heading {
  font-size: 45px;
  text-align: center;
  color: #0d6c6c;
  text-shadow: 2px -2px 7px rgba(246, 247, 252, 0.99),
  12px 7px 11px rgba(107, 110, 114, 0.57);
}

.tasks {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
