$myGradient: linear-gradient(0deg, rgb(239, 239, 210) 1%, rgb(239, 209, 143) 100%);
$myBoxShadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
$myTextColor: #0d6c6c;
$myTextShadow: 2px -2px 7px rgba(246, 247, 252, 0.99),
12px 7px 11px rgba(107, 110, 114, 0.57);
$myBackgroundColor: #f5e8ab;
$myBackgroundFocusColor: rgb(246, 236, 199);
