.task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px;
  border: 2px solid #5c605c;
  background: linear-gradient(0deg, rgb(239, 239, 210) 1%, rgb(239, 209, 143) 100%);
  border-radius: 20px;
  box-shadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
  margin-bottom: 10px;
}

.task__text {
  align-self: center;
  color: #0d6c6c;
  font-size: 24px;
}

.task__buttons {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 5px;
  align-self: flex-end;
}

.task_btn {
  padding: 5px;
  border: 1px solid #faf8ea;
  border-radius: 5px;
  background: #f5e8ab;
  box-shadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
  color: #2c4e59;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, rgb(243, 239, 222) 1%, rgb(236, 230, 125) 100%);
    color: #0d6c6c;
    border: 1px solid #e1c512;
  }
}

.task__input {
  padding: 5px;
  background: #f1f195;
  color: #30544d;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 14px 13px 10px 0 rgba(8, 86, 108, 0.77);
  &:focus {
    outline: none;
    border: 1px solid #f1f195;
    background: rgb(246, 236, 199);
    color: rgb(63, 91, 22);
  }
}

.done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
